:root {
  --dark: rgb(34 34 34); /* #222222 */
  --light: rgb(255 255 255); /* #ffffff */

  --main-brand-color: rgb(0 0 0); /* #000000 */
  --meetup-brand-color: rgb(179 10 46); /* #b30a2e */
  --camp-brand-color: rgb(7 104 0); /* #076800 */
  --conf-brand-color: rgb(2 91 159); /* #025b9f */
  --gaming-brand-color: rgb(212 61 38); /* #d43d27 */

  --brand-color: var(--meetup-brand-color);
  --text-color: var(--dark);
  --inverse-text-color: var(--light);
  --background-color: var(--light);
  --inverse-background-color: var(--dark);
  --light-accent: var(--light);
  --dark-accent: var(--dark);
  --link-color: rgb(2 91 159); /* #025b9f */
  --secondary-background: #edf5f8;

  --base-font-size: 112.5%;
  --font-stack: "Open Sans", sans-serif;
  --heading-font-stack: "League Spartan", serif;
}

/* -------------------------------------------------------------------------
 * Reset
 * ------------------------------------------------------------------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
}

/* -------------------------------------------------------------------------
 * Layout
 * ------------------------------------------------------------------------- */

.site-header {
  margin-bottom: 1.5rem;
}
.attention {
  background-color: #000;
  color: #fff;
  color: var(--inverse-text-color);
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 5% 0.75rem;
  text-align: center;
  width: 100%;
}
.masthead {
  padding: 1.5rem 5% 0.5rem;
}
.colophon {
  margin: 0 auto;
  max-width: 75rem;
}
.m .upcoming-event,
.colophon {
  padding: 0 5%;
}
.branding-logo {
  display: block;
  height: 4.25rem;
  margin: 0 auto;
  width: auto;
}
.main-nav-menu a {
  padding: 0.33rem;
  text-decoration: none;
}
.nav-list {
  margin: 0;
  padding: 0;
}
.nav-list li {
  padding: 0.75rem 0;
}
.social li {
  display: inline;
}
.social-icons,
.social-icons a {
  padding: 0;
}
.social-icons a {
  display: inline-block;
}
.social-icons li {
  margin: 0 0.65rem;
}
.icon {
  width: 1.75rem;
}
@supports (flex-wrap: wrap) {
  @media (min-width: 58rem) {
    .site-header {
      padding-top: 0;
    }
    .masthead {
      display: flex;
      justify-content: space-between;
      padding: 1rem 5%;
    }
    .main-nav-menu li {
      margin: 0;
    }
    .nav-list {
      display: flex;
      gap: 1rem;
      justify-content: center;
      padding: 1.125rem 0;
    }
    .nav-list li {
      padding: 0;
    }
    .social-icons {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }
  }
}
.upcoming-event {
  overflow: auto;
  padding: 1rem 5% 0.5rem;
}
.event-organizer {
  margin: 0 0 0.5rem;
}
.event-title {
  margin: 0;
}
.event-description {
  margin: 0 auto;
  max-width: 50ch;
}
.event-specifics {
  padding: 0;
}
.event-details,
.event-registration {
  margin: 1.5rem 0;
}
main,
.sponsorships {
  padding: 0 5%;
  margin: 0 auto 1.5rem;
  max-width: 44rem;
}
.past-event main {
  margin-bottom: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.sub-head {
  margin-bottom: 0.25rem;
}
h2 + .sub-head,
h3 + .sub-head,
h4 + .sub-head {
  margin-top: 0.25rem;
}
article p,
article ol,
article ul {
  margin: 0 0 1.5rem;
}
.branded-events {
  margin-bottom: 1.5rem;
}
.venue {
  margin-top: 1.5rem;
}
.address {
  list-style: none;
  margin: 0;
  padding: 0;
}
.venue-address {
  font-size: 1.5rem;
  font-weight: bold;
}
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin: 0.75rem 0;
  width: 100%;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.team {
  list-style: none;
  padding: 0;
}
.team li {
  margin: 1.25em;
}
.team p {
  margin: 0;
}
.team img {
  height: auto;
  max-width: 14rem;
}
@supports (display: grid) {
  .team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    grid-gap: 1.5rem;
    margin: 1rem 0 0;
  }
  .team li {
    margin: 0;
  }
  .team img {
    max-width: 11rem;
  }
}
.colophon {
  padding: 0.5rem 5% 3rem;
}
.colophon ul {
  padding: 0;
}
.colophon li {
  display: inline;
  margin: 0 0.5rem;
}
.colophon a {
  display: inline-block;
}
@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .site-header {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  main,
  .sponsorships {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  main {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .venue {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .sponsorships {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .site-footer {
    grid-column: 1/4;
    grid-row: 5/6;
  }
}

/* -------------------------------------------------------------------------
 * Typography, Colours & Styles
 * ------------------------------------------------------------------------- */

body {
  background: #fff;
  background: var(--background-color);
  color: #222222;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-family: var(--font-stack);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 112.5%;
  font-size: var(--base-font-size, 112.5%);
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
}
.site-header {
  border-bottom: 3px solid rgb(179 10 46);
  border-color: var(--brand-color);
}
.branding-logo {
  fill: rgb(179 10 46);
  fill: var(--brand-color);
}
.masthead,
.upcoming-event,
.colophon {
  text-align: center;
}
.main-nav-menu li {
  list-style: none;
}
.main-nav-menu a {
  color: #222222;
  color: var(--text-color);
  text-decoration: none;
}
.icon {
  fill: rgb(179 10 46);
  fill: var(--brand-color);
}
.upcoming-event {
  background-color: rgb(179 10 46);
  background-color: var(--brand-color);
  color: #fff;
  color: var(--inverse-text-color);
  font-weight: bold;
}
.event-title {
  color: #fff;
  color: var(--inverse-text-color);
  font-size: 3.375rem;
}
.event-description {
  font-size: 1.5rem;
  text-wrap: pretty;
}
.event-specifics {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(179 10 46);
  color: var(--brand-color);
  font-family: "League Spartan", sans-serif;
  font-family: var(--heading-font-stack);
  font-size: 2.25rem;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  text-wrap: balance;
}
@media (min-width: 35rem) {
  .page-title {
    font-size: 3.375rem;
  }
}
.sub-head {
  font-size: 1.5rem;
}
strong {
  font-weight: 700;
}
.branded-events {
  text-align: center;
}
.team li {
  text-align: center;
}
.team img {
  border-radius: 50%;
}
.site-footer {
  border-top: 1px solid rgb(179 10 46);
  border-color: var(--brand-color);
}

/* -------------------------------------------------------------------------
 * Link styles
 * ------------------------------------------------------------------------- */
a {
  color: #025b9f;
  color: var(--link-color);
  text-decoration-color: rgb(179 10 46);
  text-decoration-color: var(--brand-color);
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.15rem;
}
a:focus,
.inverse:focus {
  outline: 2px solid #222;
  outline-color: var(--dark-accent);
  outline-offset: 3px;
  text-decoration: none;
  z-index: 1000;
}
.inverse:focus {
  outline-color: #fff;
  outline-color: var(--light-accent);
}
a:focus:not(:focus-visible),
.inverse:focus:not(:focus-visible) {
  outline: none;
}
a:focus-visible,
.inverse:focus-visible {
  outline: max(2px, 0.175rem) solid #222;
  outline-color: var(--dark-accent);
}
.inverse:focus-visible {
  outline-color: #fff;
  outline-color: var(--light-accent);
}
.skip-link {
  background-color: #fff;
  background-color: var(--background-color);
  padding: 0.25rem 0.65rem;
  position: absolute;
  top: 0.75rem;
  left: -9999rem;
  z-index: 10000;
}
.skip-link:focus {
  left: 0.75rem;
  outline-offset: 0;
}
.attention a {
  color: #fff;
  color: var(--inverse-text-color);
  text-decoration-color: rgb(255 255 255);
  text-decoration-color: var(--inverse-text-color);
}
.attention a:focus {
  outline-color: #fff;
  outline-color: var(--light-accent);
}
.attention a:focus:not(:focus-visible) {
  outline: none;
}
.attention a:focus-visible {
  outline: max(2px, 0.175rem) solid #fff;
  outline-color: var(--light-accent);
}
.featured-link {
  background-color: rgb(179 10 46);
  background-color: var(--brand-color);
  border-radius: 1.38em;
  color: #222;
  color: var(--inverse-text-color);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  text-decoration: none;
  white-space: nowrap;
}
.join-us .featured-link,
.get-tickets .featured-link,
.buy-tickets .featured-link {
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
}
.featured-link.inverse {
  background-color: #fff;
  background-color: var(--background-color);
  color: rgb(179 10 46);
  color: var(--brand-color);
}
.featured-link.meetup,
.featured-link.gaming,
.featured-link.camp,
.featured-link.conf,
.join-us .featured-link,
.get-tickets .featured-link,
.buy-tickets .featured-link {
  color: #fff;
  color: var(--inverse-text-color);
}
.featured-link.meetup {
  background-color: rgb(179 10 46);
  background-color: var(--meetup-brand-color);
}
.featured-link.gaming {
  background-color: rgb(212 61 38);
  background-color: var(--gaming-brand-color);
}
.featured-link.camp {
  background-color: rgb(7 104 0);
  background-color: var(--camp-brand-color);
}
.featured-link.conf {
  background-color: rgb(2 91 159);
  background-color: var(--conf-brand-color);
}
.main-nav-menu a[aria-current] {
  color: rgb(2 91 159);
  color: var(--link-color);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--brand-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2rem;
}
.colophon a[aria-current] {
  color: #222222;
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
}

/* -------------------------------------------------------------------------
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 * ------------------------------------------------------------------------- */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
