html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html, body {
	margin: 0;
}

/* fonts */
h1 {
	color: white;
	font-family: 'League Spartan', 'Open Sans', sans-serif;
	font-size: 138px;
	font-weight: 600;
	margin: 100px 0;
    letter-spacing: -0.03em;
}
h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	position: relative;
	color: #025B9F;
	font-size: 30px;
}
h4 {
	font-size: 24px;
	padding-top: 24px;
}
h2:before, h3:before {
	content: '/';
	position: absolute;
	left: -25px;
	color: #b30a2e;
}
.speakersPage h2 {
    margin-bottom: 20px;
    position: relative;
}
p {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
a {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #b30a2e;
	text-decoration: none;
	border-bottom: 2px solid #025B9F;
	transition: 0.3s all;
}
a:hover, a:focus, a:active {
	text-decoration: none;
	color: #025B9F;
}

/* header */
header {
/*	background-color: #b30a2e;
	background: url(assets/IMG_1748_Joseph_HackerYou_monotone_v1.jpg) center;
	background-position: cover;
	background-attachment: fixed;
	text-align: center;
	background-size: contain;*/
}
.logoContainer {
	background: #fff;
	border-bottom: 3px solid #b30a2e;
	padding: 15px;
	text-align: left;	
}
.logoContainer img {
	position: relative;
    left: 5%;
}
header .text-wrapper {
	width: 63%;
	text-align: left;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
header p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: 600;
	margin: 0 auto;
	line-height: 60px;
}
header p.location {
	font-weight: 100;
}
header p.subtitle {
	font-size: 24px;
	padding: 60px 0 100px;
	font-weight: 400;
}
header a {
	border: none;
}

/* nav */
.main-navigation {
    float: right;
    position: relative;
    right: 5%;
}
.menu ul {
	margin: 0 auto;
}
.menu li {
	border: none;
    margin-left: 20px;
    float: left;
    position: relative;
}
.menu a {
	color: black;
	border: none;
}
.menu a:hover, .menu a:active, .menu a:focus {
	color: #b30a2e;
	border-bottom: 2px solid #025B9F;
}
.buyTickets a {
	background: #b30a2e;
	border-radius: 25px;
	color: #fff;
	padding: 8px 15px;
	white-space: nowrap;
}
.buyTickets a:hover, .buyTickets a:active, .buyTickets a:focus {
	border: 0;
	color: #fff;
}

/* home page hero */
.home .text-wrapper {
	background-color: #b30a2e;
	background: url(assets/IMG_1748_Joseph_HackerYou_monotone_v1.jpg) center;
	background-position: cover;
	background-attachment: fixed;
	text-align: center;
	background-size: contain;
    width: 100%;
    padding: 100px 17.5%;
}

.heading-wrapper {
	background: #b30a2e;
    padding: 30px 50px;
    display: inline-block;
    transform: rotate(-5deg);
}
.heading-wrapper h1 {
	transform: rotate(5deg);
	margin: 0;
}

/* sections */
section {
	padding: 40px;
}
section .textWrapper {
	width: 60%;
	margin: 0 auto;
}

.event, main {
	background: #EDF5F8;
}
section p span {
	font-size: 20px;
	font-weight: 600;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid #ccc;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 58px;
}
.logos {
	display: -ms-flexbox;
	display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4vw 0;
}
.logo {
	width: 100%;
	padding: 10px 20px;
}
.twitterHandle {
	font-size: 16px;
}
.llc {
	font-size: 18px;
	font-weight: 900;
	margin-top: -10px;
	text-align: center;
}
.meetup-img {
	width: 100%;
}


/* footer */
footer {
	background: #f5f5f5;
}
footer p {
	color: #666;
    margin: 0;
    padding: 10px 0 30px;
    position: relative;
    left: 5%;
    display: inline-block;
    max-width: 95%;
}

/* speakers page */
.speakersPage header {
	min-height: auto;
	background: white;
}
.speakersPage h1, .schedulePage h1, .organizersPage h1, .conductPage h1 {
	color: #b30a2e;
	margin: 0;
	position: relative;
}
.conductPage h1 {
	line-height: 0.9em;
	padding: 20px 0;
}
.speakersPage h1:before, .schedulePage h1:before, .organizersPage h1:before, .conductPage h1:before {
	content: '/';
	position: absolute;
	left: -75px;
	color: #025B9F;
}
.speakersPage h2 {
	margin-bottom: 20px;
} 
.speakersPage .talk {
	/*border-top: 2px solid #fff;*/
	border-top: 1px solid #b30a2e;
	padding-top: 40px;
}
.speakersPage .speaker {
	min-height: 170px;
	padding: 0 0 0 200px;
	position: relative;
}
.speakersPage .speaker img {
	max-width: 170px;
	position: absolute;
	top: 10px;
	left: 0;
	border-radius: 50%;
}
.speakersPage p {
	margin: 0 auto;
}
.speakersPage .subtitle {
    margin: 20px auto 60px;
}
.speakersPage .speaker {
	margin-bottom: 40px;
}
/* SCHEDULE PAGE */
.schedule-item {
/*	display: flex;
	flex-direction: column;*/
	margin-bottom: 20px;
	
}
.scheduleList {
	border-left: 1px solid black;
	padding: 0 20px;
}
.scheduleList p {
	display: inline-block;  
	margin: 0;    
	position: relative;	
}
.scheduleList .speaker {
	text-transform: uppercase;
	font-weight: 800;
}
.scheduleList .event {
	color: #b30a2e;
	font-size: 18px;
	font-weight: 800;
	border: none;
}
.scheduleList a {
	text-decoration: underline #025B9F;
}
.scheduleList .event:before {
    content: " ";
    display: block;
}
.scheduleList .time {
	position: relative;
}
.scheduleList .time:before {
    content: '';
    position: absolute;
    left: -28px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #b30a2e;
    top: 4px;
}
.scheduleList .break:before {
	background: #b30a2e;
	content: '';
	position: absolute;
	left: -28px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #b30a2e;
	top: 4px;
}

/*organizers page*/
.organizersList {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.organizersPage .organizer {
	text-align: center;
	margin: 20px;
}
.organizersPage .organizer p {
	margin: 0;
}
.organizersPage .organizer img {
	max-width: 170px;
	border-radius: 50%;
}

@media (max-width: 1180px) {
	h1 {
		font-size: 9.5vw; 
		margin: 8vw 0 6.5vw;
	}

	p, a {
		font-size: 2.55vw;
		line-height: 4vw;
	}
/*
	header {
		min-height: 35vw;
	}*/

	header p {
		font-size: 4.5vw;
		line-height: 5.8vw;
	}

	header p.subtitle {
		font-size: 3vw;
	    line-height: 4.5vw;
	    padding: 6vw 0 8vw;
	}
	.speakersPage header {
		min-height: auto;
	}
	.speakersPage .speaker {
		padding: 0;
	}
	.speakersPage .speaker img {
		max-width: 220px;
		padding: 20px 0;
		display: block;
		margin: 0 auto;
		position: relative;
		top: 0;
	}
}
/* end media query 1180px */

@media (max-width: 580px) {
	header .text-wrapper {
		width: 100%;
	    padding: 0 10.5vw;
	}

	section {
		padding: 8vw 10.5vw;
	}

	section .textWrapper {
		width: 100%;
	}

	h2, h3 {
		font-size: 6vw;
	}

	p, a {
		font-size: 4.6vw;
		line-height: 6.5vw;
	}
	.logoContainer {
		text-align: center;
	}
	.logoContainer img {
		left: 0;
	}
	.main-navigation {
	    float: none;
	}
	.menu ul {
		display: flex;
		justify-content: space-around;	
	}
	.menu li {
		float: none;
	}
	.menu a {

	}

	footer p {
		left: initial;
	    padding: 10px 8vw 10px;
	}
}
/* end media query 580px */