<footer>
  <ul>
    <li>{{ site.time | date: '%Y' }} <a href="https://a11yto.com/">#a11yTO</a></li>
    <li><a {% if page.id=='organizers' %}class="current-page" {% endif %} href="/organizers">Organizers</a></li>
    <li><a {% if page.id=='archive' %}class="current-page" {% endif %} href="/past-events">Past Events</a></li>
    <li><a {% if page.id=='accessibility-statement' %}class="current-page" {% endif %} href="/accessibility-statement">Accessibility Statement</a></li>
    <li><a {% if page.id=='conduct' %}class="current-page" {% endif %} href="/code-of-conduct">Code of Conduct</a></li>
  </ul>
</footer>