<section aria-labelledby="sponsors-title" class="sponsorships">
  <h2 id="sponsors-title">Our Sponsors</h2>
  <h3 class="sub-head">Diamond Sponsor</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/abledocs-logo.png" alt="Abled Docs" class="logo" />
    </div>
  </div>
  <h3 class="sub-head">Platinum Sponsor</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/deque-logo.png" alt="Deque" class="logo">
    </div>
  </div>
  <h3 class="sub-head">Gold Sponsors</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/accessibility-partners-logo.png" alt="Accessibility Partners Canada" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/cbc-logo.png" alt="CBC" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/EY-logo.png" alt="EY" class="logo">
    </div>
  </div>
  <p>If you are interested in sponsoring <strong>#a11yTO</strong>, please email us at <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a>
  </p>
</section>
