---
layout: default
---

<main id="main-content">
  <article>
    {{ content }}
  </article>
</main>
<!-- <section aria-labelledby="health-guidelines" class="disclaimer">
  <h2 id="health-guidelines" class="sub-head">Public Health Guidelines</h2>
  <p>Attendees will be required to follow public health guidelines set out by the province and the venue. Currently, our venue does not require proof of vaccination or a negative test.</p>
  <p>Even though masks are not mandatory, we encourage you to still wear one whenever you wish, and to respect everyone's choices around masks. We will also have some available at the venue.</p>
</section> -->

<section aria-labelledby="travel-title" class="location">
        <h2 id="travel-title">Venue</h2>
        <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.0714356786007!2d-79.39075458687194!3d43.64668207098197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d11a92a9e7%3A0x62367135f8d51b63!2s225%20King%20St%20W%2C%20Toronto%2C%20ON%20M5V%203M2!5e0!3m2!1sen!2sca!4v1681840088626!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" title="Map to venue" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <ul class="address">
          <li class="venue">League Office</li>
          <li>225 King St W Suite #800, <br>
            Toronto, ON M5V 3M2</li>
        </ul>
      </section>
