---
layout: default
---

<main id="main-content">
  <article>
    {{ content }}
  </article>
</main>

<!-- <section class="travel">
        <h2>Travel</h2>
        <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.7565947352277!2d-79.39365838475989!3d43.65323226044697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34cf67a98f01%3A0x862ad4880532f2e3!2sOCAD+University!5e0!3m2!1sen!2sca!4v1507850659323" width="875 " height="325 " frameborder="0 " style="border:0;" allowfullscreen></iframe>
        </div>
        <ul class="address">
          <li class="venue">OCAD University</li>
          <li>100 McCaul St, Toronto, ON M5T 1W1</li>
          <li>(416) 977-6000</li>
        </ul>
      </section> -->
